<div class="relative flex flex-col md:flex-row items-stretch justify-between min-h-[70vh] w-full px-5 md:px-10 gap-5">
  
  <!-- Image -->
  <div class="relative w-full md:w-1/2 flex items-center">
    <%= image_tag asset_path('awaza.avif'), class: "w-full h-full object-cover clip-curved rounded-lg" %>
  </div>

  <!-- Text -->
  <div class="w-full md:w-1/2 md:pl-10 flex flex-col text-center md:text-left justify-center">
    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold leading-tight mb-5 italic">
      <%= t('awaza.1') %>
      <br />
      <span class="text-blue-600 text-3xl sm:text-4xl md:text-5xl xl:text-6xl"><%= t("awaza.2") %></span>
    </h1>
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold italic">
      <%= t("awaza.3") %>
    </h2>
  </div>

</div>

<style>
  .clip-curved {
    clip-path: ellipse(90% 100% at left center);
  }

  @media (max-width: 768px) {
    .clip-curved {
      clip-path: none; /* Remove curve on small screens */
    }
  }
</style>
