<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="bg-base-200">
  <%= render 'index/landing_image' %>
</div>

<div class="my-5">
  <%= render 'index/book' %>
</div>

<!-- Comment -->
<div>
  <%= image_tag asset_path('awaza-pan-1920.avif'), class: "w-3/4 mx-auto mb-2" %>
</div>

<div class="w-full h-auto bg-base-200 px-20 pt-10">
  <turbo-frame id="hotels">
    <div class="text-center py-20">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  </turbo-frame>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.setAttribute("src", "/hotels_lazy");
                    observer.unobserve(entry.target);
                }
            });
        });

        const frame = document.querySelector("turbo-frame#hotels");
        if (frame) {
            observer.observe(frame);
        }
    });
</script>zz